#01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#02. Importing Data

In [2]:
# Turn project folder path into a string
path = r'/Users/thomasradio/Documents/Jupyter/230621 Tom Radio Achievement 4 Project'

In [3]:
# Check path
path

'/Users/thomasradio/Documents/Jupyter/230621 Tom Radio Achievement 4 Project'

In [4]:
# Import orders_products_merged_4_8_Exercise dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4_8_Exercise.pkl'))

In [5]:
ords_prods_merge.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer

In [6]:
ords_prods_merge.shape

(32404859, 19)

## 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [8]:
# find the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe
ords_prods_merge.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
1                     15.457838
2                     17.277920
3                     17.170395
4                     17.811403
5                     15.215751
6                     16.439806
7                     17.225802
8                     15.340650
9                     15.895474
10                    20.197148
11                    16.170638
12                    15.887671
13                    16.583536
14                    16.773669
15                    16.165037
16                    17.665606
17                    15.694469
18                    19.310397
19                    17.177343
20                    16.473447
21                    22.902379

## 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### The first million rows only contained information on 8 different departments. Now all 21 departments are represented. Also, the means for the columns that were present in the exercise are now different since it's accounting for information from the entire dataframe.

## 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [10]:
# Find average product prices for each customer group
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

## 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

    If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
    If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [18]:
# Create a column for each user based on the average price across all their orders
ords_prods_merge['avg_price_per_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
ords_prods_merge.head(11)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_per_order,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,both,...,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,both,...,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,both,...,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,both,...,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [17]:
# Create a spending flag using loc
ords_prods_merge.loc[ords_prods_merge['avg_price_per_order'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price_per_order'] >= 10, 'spending_flag'] = 'High spender'

In [20]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [22]:
ords_prods_merge.head(100)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_per_order,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Most orders,3,New customer,10.006250,High spender
96,1469869,377,3,5,17,3.0,196,9,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Average orders,3,New customer,8.496552,Low spender
97,1927023,387,2,4,10,22.0,196,3,0,both,...,77,7,9.0,Mid-range product,Least busiest days,Most orders,8,New customer,7.396610,Low spender
98,858092,420,4,1,19,30.0,196,2,0,both,...,77,7,9.0,Mid-range product,Busiest days,Average orders,22,Regular customer,7.387805,Low spender
99,119314,420,5,3,19,16.0,196,2,1,both,...,77,7,9.0,Mid-range product,Least busiest days,Average orders,22,Regular customer,7.387805,Low spender

## 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [31]:
# Create a column for each user based on the median in the “days_since_prior_order” column
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [41]:
ords_prods_merge.head(100)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_per_order,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,196,1,0,both,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,both,...,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,both,...,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,both,...,7,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,both,...,7,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,both,...,7,9.0,Mid-range product,Regularly busy,Most orders,3,New customer,10.006250,High spender,4.0
96,1469869,377,3,5,17,3.0,196,9,0,both,...,7,9.0,Mid-range product,Regularly busy,Average orders,3,New customer,8.496552,Low spender,16.5
97,1927023,387,2,4,10,22.0,196,3,0,both,...,7,9.0,Mid-range product,Least busiest days,Most orders,8,New customer,7.396610,Low spender,8.0
98,858092,420,4,1,19,30.0,196,2,0,both,...,7,9.0,Mid-range product,Busiest days,Average orders,22,Regular customer,7.387805,Low spender,7.0
99,119314,420,5,3,19,16.0,196,2,1,both,...,7,9.0,Mid-range product,Least busiest days,Average orders,22,Regular customer,7.387805,Low spender,7.0

In [42]:
# Create an order frequency flag using loc
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [43]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [44]:
ords_prods_merge.head(100)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_per_order,spending_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,both,...,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,both,...,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,both,...,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,both,...,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Most orders,3,New customer,10.006250,High spender,4.0,Frequent customer
96,1469869,377,3,5,17,3.0,196,9,0,both,...,9.0,Mid-range product,Regularly busy,Average orders,3,New customer,8.496552,Low spender,16.5,Regular customer
97,1927023,387,2,4,10,22.0,196,3,0,both,...,9.0,Mid-range product,Least busiest days,Most orders,8,New customer,7.396610,Low spender,8.0,Frequent customer
98,858092,420,4,1,19,30.0,196,2,0,both,...,9.0,Mid-range product,Busiest days,Average orders,22,Regular customer,7.387805,Low spender,7.0,Frequent customer
99,119314,420,5,3,19,16.0,196,2,1,both,...,9.0,Mid-range product,Least busiest days,Average orders,22,Regular customer,7.387805,Low spender,7.0,Frequent customer

# SAVE AND CHECKPOINT